@keyframes pipe-left-right {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

@keyframes pipe-right-left {
    0% {background-position: 60px 0;} 100% {background-position: 0 0;}
}

@keyframes pipe-top-bottom {
    0% {background-position: 0 0;} 100% {background-position: 0 60px;}
}

@keyframes pipe-bottom-top {
    0% {background-position: 0 60px;} 100% {background-position: 0 0;}
}

.pipe-left-right {
    background-color: #00bfff;
    background-size: 30px 30px;
    background-image: linear-gradient(90deg,
        transparent 0%,
    	rgba(255, 255, 255, .30) 50%,
    	transparent 100%);
    animation: pipe-left-right 3s linear infinite;
}

.pipe-right-left {
    background-color: #00bfff;
    background-size: 30px 30px;
    background-image: linear-gradient(90deg,
        transparent 0%,
    	rgba(255, 255, 255, .30) 50%,
    	transparent 100%);
    animation: pipe-right-left 3s linear infinite;
}

.pipe-top-bottom {
    background-color: #00bfff;
    background-size: 30px 30px;
    background-image: linear-gradient(0deg,
        transparent 0%,
    	rgba(255, 255, 255, .30) 50%,
    	transparent 100%);
    animation: pipe-top-bottom 3s linear infinite;
}

.pipe-bottom-top {
    background-color: #00bfff;
    background-size: 30px 30px;
    background-image: linear-gradient(0deg,
        transparent 0%,
    	rgba(255, 255, 255, .30) 50%,
    	transparent 100%);
    animation: pipe-bottom-top 3s linear infinite;
}